html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

html{
    font-size:62.5%; /* 1 rem = 10px */
  }

* {
    box-sizing: border-box;
    /* border: 1px solid; delete this after testing */
  }

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}


/* nav buttons */
nav {
    text-align: center;
}

nav a {
    display:inline-block;
    border-radius:10px;
    padding:1% 1%;
    margin: 5%;
    max-width:8%;
    min-width: 100px;
    height: 4.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    line-height: 1.25rem;
}
a.button-plan {
    background-color: #FF764E;
}
a.button-about {
    background-color: #5ED3EB;
}
a.button-get {
    background-color: #FFCD69;
}

header{
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    padding: 2%;
  }

header img{
    display: inline-block;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    vertical-align: middle;
}

header div{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

header p{
 padding: 1.5%;   
}

.main {
    background-color: #DDB9A3;
    padding: 10px;
    margin: 4% 2%;
    color: white;
}

.main p{
    display: block;
    width: 100%;
    margin: 1% 0;
}

footer {
    background-color: #F9E7DC;
}

.features {
    padding: 2%;
    text-align: center;
}

.features img {
    display: block;
    max-width: 20%;
    margin: auto;
}

.features p {
    display: block;
    max-width: 30%;
    margin: auto;
}

.features span {
    font-weight:bold;
}

.features div {
    margin-bottom: 4%;
}

footer .footerimage {
    width: 100%;
    height: 25rem; 
    background-image: url(assets/footer_img.jpg);
    background-size: cover;
}